<!DOCTYPE html  >
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />


    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script
            th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

</head>
<body>
<!--/*@thymesVar id="product" type="com.example.springmvcrest.domain.Product"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  th:object="${product}" th:action="@{/api/v1/user/product}"  method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Product Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Price:</label>
                                    <input type="number" class="form-control" th:field="*{price}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Unit:</label>
                                    <input type="number" class="form-control" th:field="*{unit}"/>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Color:</label>
                                    <input type="text" class="form-control" th:field="*{color}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Origin:</label>
                                    <input type="text" class="form-control" th:field="*{origin}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{image}"/>
                                </div>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>