<!DOCTYPE html >
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1><b>Welcome to SMART CITY Backend </b></h1>
<h2> smart city est une application pourdes commerces et des services numériques de proximité. Le but est d’adapter le fonctionnement des commerces et services de proximité à une clientèle de plus en plus connectée, dynamique et exigeante, qui a besoin de flexibilité. Ainsi, il serait possible aux commerces et services de proximité de contrer/concurrencer les commerces en ligne des grands groupes. Ceci passe par offrir à ces commerces/services les mêmes capacités et outils que les commerces/services en ligne. </h2>
</body>
</html>